<p><%= @message %></p>
<p>Your word: <%= @word %></p>
<p>Your score: <%= @score %></p>
<p>Time taken to answer: <%= @time %></p>

<div type="button" class="btn btn-warning btn-lg">
  <%= link_to "Play again", new_path %>
</div>
